<!DOCTYPE html>
<html>
<body style="background-color:lightYellow;" align="center">

<h2 style="background-color:lightGreen;">Login Dashboard</h2><br>

<form action="/dashboard" method="post">
  <label for="email">Enter Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="pwd">Enter Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <button type="submit" class="btn btn-dark">Login</button>
</form>
<br><br>

<a href="/register">Register</a>
</body>
</html>

