<!DOCTYPE html>
<html>
<body style="background-color:red;" align="center">

<h1 style="background-color:lightYellow;">Register Dashboard</h1>

<form action="/login" method="post">
  <label for="id">Id:</label><br>
  <input type="text" id="id" name="id"><br><br>
  <label for="name">Enter name:</label><br>
  <input type="text" id="name" name="name"><br><br>
  <label for="email">Enter Email:</label><br>
  <input type="text" id="email" name="email"><br><br>
  <label for="pwd">Password:</label><br>
  <input type="text" id="pwd" name="pwd"><br><br>
  <button type="submit" class="btn btn-dark">register</button>


</form><br><br>

<a href="/login">Login</a>
</body>
</html>

